<section id="comment_{{ comment.comment_pk }}" class="d-flex gap-3">
    <img src="{{ url_for('static', filename='images/' ~ (comment.user_avatar_path if comment.user_avatar_path else 'unknown.jpg')) }}"
        class="w-8 h-8 rounded-full" alt="Profile Picture">
    <div class="w-full">
        <div class="d-flex j-content-between">
            <div class="d-flex gap-1">
                <div class="post-header">
                    <span class="name">
                        {{ comment.user_first_name }}
                        {{ comment.user_last_name }}
                    </span>
                    <span class="handle">@{{ comment.user_username }}</span> · <span class="time">1d</span>
                </div>
            </div>

            <div>
                {% if comment.user_pk == user.user_pk %}
                <button
                    mix-get="{{ url_for('api_edit_comment') }}?comment_pk={{ comment.comment_pk }}&post_pk={{ post_pk }}"
                    mix-default="{{ x.lans('edit_comment') }}" mix-await="{{ x.lans('editing_comment') }}"
                    class="bg-c-black text-c-white px-4 py-2 rounded-xl text-100">
                    {{ x.lans('edit_comment') }}
                </button>

                <button
                    mix-get="{{ url_for('api_delete_comment') }}?comment_pk={{ comment.comment_pk }}&post_pk={{ post_pk }}"
                    mix-default="{{ x.lans('delete_comment') }}" mix-await="{{ x.lans('deleting_comment') }}"
                    class="bg-c-red text-c-white px-4 py-2 rounded-xl text-100">
                    {{ x.lans('delete_comment') }}
                </button>
                {% endif %}
            </div>
        </div>
        <div class="w-full ml-2">
            <p id="comment_text{{ comment.comment_pk }}">{{ comment.comment_text }}</p>
        </div>
    </div>
</section>