<h1>
    {{ x.lans("profile") }}
</h1>

<form class="x-dialog__form" action="{{ url_for('api_update_profile') }}" mix-post autocomplete="off" enctype="multipart/form-data">
    <img id="profile_avatar" src="{{ url_for('static', filename='images/' ~ (user.user_avatar_path if user.user_avatar_path else 'unknown.jpg')) }}"
        class="w-25 h-25 rounded-full obj-f-cover" alt="Profile Picture">
    <div class="mt-2">
        <label for="avatar"><span>Change profile picture</span></label>
        <input type="file" id="avatar" name="avatar" accept="image/*">
    </div>
    <div>
        <label for="user_email">
        <span>{{ x.lans("email") }}</span>
        </label>
        <input name="user_email" id="user_email" type="text" mix-check="{{ x.REGEX_EMAIL }}" value="{{ user.user_email }}">
    </div>
    <div>
        <label for="user_username">
        <span>{{ x.lans('username') }}</span> - {{ x.USER_USERNAME_MIN }}  {{ x.lans('to') }} {{ x.USER_USERNAME_MAX }}  {{ x.lans('characters') }}
        </label>
        <input name="user_username" id="user_username" type="text" mix-check="{{ x.REGEX_USER_USERNAME }}" value="{{ user.user_username }}">
    </div>
    <div>
        <label for="user_first_name">
        <span>{{ x.lans('first_name') }}</span> - {{ x.USER_FIRST_NAME_MIN }}  {{ x.lans('to') }} {{ x.USER_FIRST_NAME_MAX }}  {{ x.lans('characters') }}
        </label>
        <input name="user_first_name" id="user_first_name" type="text" mix-check="{{ x.REGEX_USER_USERNAME }}" value="{{ user.user_first_name }}">
    </div>            
    <button class="x-dialog__btn" 
    mix-default="{{ x.lans('update_profile') }}" 
    mix-await="{{ x.lans('updating_profile') }}">
        {{ x.lans('update_profile') }}
    </button>
</form>
<div class="py-8 d-flex flex-col a-items-center">
    <a href="{{ url_for('api_delete_profile') }}" class="text-c-red" hover="cursor-pointer">
        Delete account
    </a>
</div>